  <div class="container mt-5">
    <h2 class="mb-4">Face recognition</h2>
    <h6>create a new face recognition page</h6>
    <form method="post" class="p-4 bg-white shadow-sm rounded">
      {% csrf_token %}
      <div class="mb-3">
      {{ form.student_id.label_tag }}
      {{ form.student_id }}
      </div>
      <div class="mb-3">
        {{ form.student_name.label_tag }}
        {{ form.student_name }}
      </div>
      <div class="mb-3">
        {{ form.parent_id.label_tag }}
        {{ form.parent_id }}
      </div>
      <div class="mb-3">
        {{ form.parent_name.label_tag }}
        {{ form.parent_name }}
      </div>
      </div>

      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-warning">Save</button>
      </div>
    </form>
  </div>